@import "tailwindcss";

/* Importar fuente Rammetto One */
@font-face {
  font-family: 'Rammetto One';
  src: url('./assets/fonts/Rammetto_One/RammettoOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}



/* Clase personalizada para la fuente Rammetto One */
.font-rammetto {
  font-family: 'Rammetto One', cursive;
}